body {
    margin: 0;
    padding: 0;
    font-family: Verdana;
    font-size: 14px;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.left {
    width: 173px;
}
.left, .right {
    display: table-cell;
}
.nav {
    position: fixed;
    background: #000;
    height: 100%;
}
.nav li {
    color: #fff;
    padding: 15px 15px;
}
.nav li:hover {
    cursor: pointer;
    background: #f00;
}
.product_box {
    display: inline-block;
    vertical-align: top;
    width: 250px;
    border:1px solid #ccc;
    border-radius: 5px;
    padding:10px 15px;
    margin: 15px;
}
.product_image img {
    max-width: 100%;
}
.product_name {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}
.product_name:first-letter {
    color: #f00;
}
.product_price {
    font-weight: bold;
    text-align: right;
    color: #f00;
}
.product_button {
    color: #fff;
    background: #f00;
    padding: 5px 25px;
    text-align: center;
    margin-top: 20px;
}
.product_button:hover {
    background: #000;
    cursor: pointer;
}
